@page "/counter"

<h1>Counter</h1>

<p role="status" id="count">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [CascadingParameter]
    public ErrorLog? Error { get; set; }

    private void IncrementCount()
    {
        try
        {
            currentCount++;

            if (currentCount > 5)
            {
                throw new InvalidOperationException("Current count is over five!");
            }
        }
        catch (Exception ex)
        {
            Error?.ProcessError(ex);
        }
    }
}
